In [18]:
import pandas as pd
prvSchool=pd.read_csv("CATopPrivate.csv")
prvSchool.columns=['county','school','ZIP']

In [19]:
prvSchool.head()

        county                             school    ZIP
0  Los Angeles                Bishop Alemany High  91345
1  Los Angeles              Oaks Christian School  91362
2  Los Angeles      Chaminade College Preparatory  91304
3  Los Angeles  Loyola High School of Los Angeles  90006
4  Los Angeles                   Viewpoint School  91302

In [20]:
ZipToCoord=pd.read_csv('zipCode.csv')

In [21]:
ZipToCoord.head()

   ZIP        LAT        LNG
0  601  18.180555 -66.749961
1  602  18.361945 -67.175597
2  603  18.455183 -67.119887
3  606  18.158345 -66.932911
4  610  18.295366 -67.125135

In [22]:
saveToFileCoord = pd.merge(ZipToCoord, prvSchool, how='inner', on='ZIP')

In [23]:
saveToFileCoord.to_csv('schoolCoord.csv',sep=',',index=False)

In [24]:
crimeRate=pd.read_csv('CrimeRate.csv',sep=',')

In [25]:
cityToZip=pd.read_csv('cityZipCode.csv',sep=',')

In [26]:
crimeRate.head()

   Year              County                              NCICCode  allSum
0  2016  Los Angeles County  Los Angeles Co. Sheriff's Department  100083
1  2016  Los Angeles County                              Alhambra    9581
2  2016  Los Angeles County                               Arcadia    7917
3  2016  Los Angeles County                               Artesia    3037
4  2016  Los Angeles County                                Avalon     199

In [27]:
cityToZip.head()

     zip     NCICCode
0  90001  Los Angeles
1  90002  Los Angeles
2  90003  Los Angeles
3  90004  Los Angeles
4  90005  Los Angeles

In [28]:
crimeToZip = pd.merge(cityToZip, crimeRate, how='inner', on='NCICCode')

In [34]:
crimeToZip.head(10)

     ZIP     NCICCode  Year              County  allSum
0  90001  Los Angeles  2016  Los Angeles County  534515
1  90002  Los Angeles  2016  Los Angeles County  534515
2  90003  Los Angeles  2016  Los Angeles County  534515
3  90004  Los Angeles  2016  Los Angeles County  534515
4  90005  Los Angeles  2016  Los Angeles County  534515
5  90006  Los Angeles  2016  Los Angeles County  534515
6  90007  Los Angeles  2016  Los Angeles County  534515
7  90008  Los Angeles  2016  Los Angeles County  534515
8  90009  Los Angeles  2016  Los Angeles County  534515
9  90010  Los Angeles  2016  Los Angeles County  534515

In [32]:
crimeToZip.columns=['ZIP','NCICCode','Year','County','allSum']

In [33]:
crimeToZip.shape

(562, 5)

In [31]:
# crimeToZip.to_csv('CrimeWithZip.csv',sep=',',index=False)

In [36]:
crimeZipToCoord = pd.merge(crimeToZip, ZipToCoord, how='inner', on='ZIP')

In [47]:
crimeZipToCoord.to_csv('crimeCoord.csv',sep=',',index=False)

In [37]:
crimeZipToCoord.head()

     ZIP     NCICCode  Year              County  allSum        LAT         LNG
0  90001  Los Angeles  2016  Los Angeles County  534515  33.974027 -118.249509
1  90002  Los Angeles  2016  Los Angeles County  534515  33.949099 -118.246737
2  90003  Los Angeles  2016  Los Angeles County  534515  33.964131 -118.272783
3  90004  Los Angeles  2016  Los Angeles County  534515  34.076198 -118.310722
4  90005  Los Angeles  2016  Los Angeles County  534515  34.059163 -118.306892

In [62]:
crimeZipToCoord.groupby(['NCICCode','County'])[['LAT','LNG','allSum']].mean().reset_index().to_csv('crimeCoord.csv',sep=',',index=False)